<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.vibrationapps.vibration"
    version="0.0.2">

    <name>Vibration</name>
    <description>A Better Cordova Vibration Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,vibration,vibrator,vibrate</keywords>
    <repo>https://github.com/Rickgbw/cordova-plugin-vibrator.git</repo>
    <issue>https://github.com/Rickgbw/cordova-plugin-vibrator/issues</issue>

    <js-module src="www/vibration.js" name="vibration">
        <clobbers target="window.vibration"/>
    </js-module>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Vibration">
                <param name="wp-package" value="Vibration"/>
            </feature>
        </config-file>

        <source-file src="src/wp/Vibration.cs" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Vibration">
                <param name="android-package" value="com.vibrationapps.Vibration"/>
            </feature>
        </config-file>

        <source-file src="src/android/Vibration.java" target-dir="src/com/vibrationapps" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.VIBRATE"/>
        </config-file>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Vibration">
                <param name="ios-package" value="CDVVibration"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVVibration.h" />
        <source-file src="src/ios/CDVVibration.m" />

        <framework src="AudioToolbox.framework" weak="true" />
    </platform>
</plugin>
